* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#PageContent{
	background: #BFAB9F;
}

.info-color{
	background: #735E5A;
}

.navbar.navbar .navbar-toggler-icon {
	background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=BFAB9F');
}

